<!-- Version: v3.4 -->
{% extends "base.html" %}

{% block content %}
<h2>内存树信息</h2>
{% if memory_node %}
    <h3>内存节点: {{ memory_node.name }}</h3>
    <p>物理地址和大小（从reg属性中获取）:</p>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th scope="col">Base Address</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Node Name</th>
        </tr>
        {% for region in all_regions %}
            <tr {% if region.type == 'Reserved' %}style="background-color: #D3D3D3;"{% endif %}>
                <td {% if region.type == 'System Memory' %}style="background-color: #FFFF00;"{% endif %}>
                    {% if region.address is not none %}
                        0x{{ '%X'|format(region.address) }} ({{ (region.address / (1024 * 1024 * 1024))|round(2) }} GB)
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td {% if region.type == 'System Memory' %}style="background-color: #FFFF00;"{% endif %}>
                    {% if region.size is not none %}
                        0x{{ '%X'|format(region.size) }} ({{ (region.size / (1024 * 1024 * 1024))|round(2) }} GB)
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ region.type }}</td>
                <td>
                    {% if region.name.startswith('memory') %}
                        物理内存颗粒
                    {% else %}
                        {{ region.name }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>没有找到memory节点（或以memory开头的节点）</p>
{% endif %}
{% endblock %}
